$helobg: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
$body-color: #fff;
$font-family-base: vazir;

// background-color: #0093E9;
// background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
