.header {
  position: relative;
  background-image: url(../svg/bg-blingbling.svg), url(../svg/patty-patty.svg);
  background-size: initial;
  min-height: 100vh;
  background-position: center top, center 450px;
  background-repeat: no-repeat;
  overflow: hidden;

  @include respond-above(md) {
    &__title {
      position: absolute;
      font-weight: 500;
      font-size: 150px;
      max-width: 55vw;
      margin-top: 50px;
      margin-right: 10%;
    }

    &__leftside {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      bottom: 0;
      height: 100%;
      left: 10%;
    }

    &__logo {
      margin-bottom: 26px;
    }
  }

  @include respond-between(sm, md) {
    &__title {
      font-weight: 500;
      font-size: 130px;
    }

    &__leftside {
      bottom: 0;
    }

    &__logo {
      margin-bottom: 26px;
      width: 350px;
      margin: 0 auto;
    }
  }

  &__date {
    font-size: 40px;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  &__hour {
    font-size: 21px;
  }
}

@include respond-below(md) {
  .header {
    position: relative;
    background-image: url(../svg/bg-blingbling.svg), url(../svg/patty-patty.svg);
    background-size: initial;
    min-height: 100vh;
    background-position: center top, center 450px;
    background-repeat: no-repeat;
    overflow: hidden;

    &__title {
      font-weight: bold;
      font-size: 60px;
      margin: 20px;
    }

    &__leftside {
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }

    &__letsgo {
      width: 90%;
    }
  }
}
